<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="google" value="notranslate" />
	<meta http-equiv="cleartype" content="on" />
	
	<title>Raindrop.io</title>

	<!-- security -->
	<meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' <%= require('./config.js').csp.hosts %> <%= process.env.NODE_ENV === 'development' ? '\'unsafe-inline\' \'unsafe-eval\'' : '' %>; style-src 'self' 'unsafe-inline'; img-src * blob:; object-src 'none';">
	<meta name="referrer" content="origin">

	<!-- performance -->
	<link rel="dns-prefetch" href="https://api.raindrop.io/" >
	<link rel="preconnect" href="https://rdl.ink">

	<!-- native apps -->
	<meta name='apple-itunes-app' content='app-id=1021913807' />
	<meta name='google-play-app' content='app-id=io.raindrop.raindropio' />
	<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/ldgfbffkinooeloadekpmfoklnobpien">
	
	<!-- icons -->
	<link rel='icon' href='<%= require("./assets/brand/icon_16.png").default %>' sizes='16x16' type='image/png'/>
	<link rel='icon' href='<%= require("./assets/brand/icon_32.png").default %>' sizes='32x32' type='image/png'/>
	<link rel='icon' href='<%= require("./assets/brand/icon_64.png").default %>' sizes='64x64' type='image/png'/>
	<link rel='icon' href='<%= require("./assets/brand/icon_128.png").default %>' sizes='128x128' type='image/png'/>
	<link rel='apple-touch-icon' href='<%= require("./assets/brand/icon_128.png").default %>' />
	<link rel='icon' type='image/svg+xml' href='<%= require("./assets/brand/icon_raw.svg?asis").default %>' />

	<!-- og/twitter cards -->
	<meta name='twitter:card' content='app' />
	<meta name='twitter:site' content='@raindrop_io' />
	<meta name='twitter:description' content='All in One Bookmark Manager. For your inspiration, read later, media and stuff.' />
	<meta name='twitter:image' content='<%= require("./assets/brand/og.png").default %>' />
	<meta property='og:type' content='product' />
	<meta property='og:title' content='Raindrop.io &mdash; All in One Bookmark Manager' />
	<meta property='og:description' content='For your inspiration, read later, media and stuff' />
	<meta property='og:image' content='<%= require("./assets/brand/og.png").default %>' />

	<!-- special -->
	<meta name="color-scheme" content="dark light">
</head>
<body>
	<div id="react"></div>

	<!-- extension popover size, script should be right after #react tag -->
	<%= process.env.APP_TARGET == 'extension' ? `<script src='${require('./assets/target/extension/window_size.js?asis').default}'></script>` : '' %>
</body>
</html>